* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
    background-image: url("../img/background_netflix.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

.logo_netflix {
    overflow: hidden;
    padding-top: 0;
    width: 6.75rem;
    height: 2rem;
}

.header {
    position: absolute;
    z-index: 100;
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 1690px;
    top: 28px;
    left: 56px;
}

.header select {
    position: absolute;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 2px;
    text-indent: 0;
    background: rgba(0, 0, 0, .4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: 12px;
    right: 100px;
}

.header a {
    display: inline-block;
    background: #e50914;
    color: white;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}

.main {
    z-index: 1;
    display: flex;
    justify-items: center;
    text-align: center;
    position: relative;
    padding: 200px 290px;
}

.main h1 {
    font-size: 50px;
    max-width: 660px;
}

.main span {
    font-size: 26px;
    margin-top: 10px;
}

.form-cta {
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form-cta input {
    padding: 20px 10px;
    font-size: 15px;
    font-family: sans-serif;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
}

.form-cta button {
    background: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 27px;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    border-radius: 2px;
}

.form-cta button::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url("../img/seta.svg");
    margin-left: 20px;
}